<!-- Navigation -->

<nav class="navbar navbar-expand-xxl bg-light">
  <div class="container-fluid">
    <div class="container" id="logo">
      <img src="assets/images/ptbr.png">
    </div>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 mt-2">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"><b>Home</b></a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#quemsou"><b>Quem sou?</b> </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#brasil"><b>Brasil</b> </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#portugal"><b> Portugal</b> </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link" href="#contatos"><b>Contatos</b> </a>
        </li>
      </ul>
    </div>
  </div>
</nav>