<!-- Navigation-->
<nav class="navbar" id="sideNav">
  <div class="container" id="logo">
    <img src="assets/images/ptbr.png">
  </div>
  <ul class="navbar" id="menu">
    <li>
      <a class="nav-link" href="#home"><b>Home</b> </a>
    </li>
    <li>
      <a class="nav-link" href="#quemsou"><b>Quem sou?</b> </a>
    </li>
    <li>
      <a class="nav-link" href="#brasil"><b>Brasil</b> </a>
    </li>
    <li>
      <a class="nav-link" href="#portugal"><b> Portugal</b> </a>
    </li>
    <li>
      <a class="nav-link" href="#contatos"><b>Contatos</b> </a>
    </li>
  </ul>
</nav>